<h2> Log a Trip </h2>

<%= form_for @trip, url: '/trips', method: :post do |f| %>
<br>
  <%= f.label :activity %>
  <%= f.collection_select :activity_id, Activity.all, :id, :name %> <br>
  <%= f.hidden_field :user_id, :value => @current_user.id %>
  <br>
  <br>
  Would you like to add this activity to your To Do List or Log a Trip? <br>
  <%= f.select :taken, [["To Do List", false], ["Log a Trip", true]]%>
  <br>
  <br>
  <div id="trip_display">
    
  </div>
    <%= f.submit "Submit" %>
  <% end %>
    <br>
    <% if flash[:notice] %>
        <div class="notice"><%= flash[:notice] %></div>
      <% end %>
